body{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
svg {
	width: 100%;
	height: 100%;
}
span{
	width: 418px;
	height: 30px;
	display: inline-block;
	margin-right: 5px;
	background-position: 0 -288px;
	border: 1px solid #b6b6b6;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
}
input {
	-webkit-appearance: none;
}
button {
	width: 75px;
	height: 32px;
	font: 16px/22px arial;
}
p {
	font: 20px/22px arial;
}
label {
	font: 20px/22px arial;
}
.divsvg {
	width: 50%;
	height: 45%;
	float:left; 
}
.process {
	font: 16px/22px arial;
	text-align: center;
}
#svgnum {
	font: 16px/22px arial;
	width: 50px;
	height: 32px;
}
#num {
	width: 405px;
	height: 32px;
	font: 16px/22px arial;
	margin: 5px 0 0 7px;
	background: #fff;
	outline: 0;
}

g text{
	border: 0px solid #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
